{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block content %}
Hi {{ person }}! I think you're {{ compliment }}!
<br><br><div>
    <form action="/game">
      <label for="game">Would you like to play a game?</label>
      <br><input type = "radio" name = "game" value = "yes">Yes
      <br><input type = "radio" name = "game" value = "no">No
      <br><input type="submit" name="Submit">
    </form>
    </div>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label -->

{% endblock %}
